{% extends 'core/base.html' %}

{%  block site_content %}

    <!-- ======= About Section ======= -->
    <section class="section-about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-t8 position-relative">
            <div class="row">
              <div class="col-md-6 col-lg-12 section-md-t3">
                <div class="title-box-d">
                  <h3 class="title-d">
                    <span class="color-d"></span>
                    <br>
                  </h3>
                </div>
                <p class="color-text-a">
                  No vehicle does everything perfectly, but many do a lot of things well.
                  For instance, plenty of cars with good reliability are also comfortable, quiet, and fun to drive.
                  Still, there will probably be trade-offs. You may have to decide between a good ride and sporty handling.
                  Or you may wind up sacrificing fuel economy in exchange for engine power or cargo space.
                </p>
                <p class="color-text-a">
                  Our mission is to make sure the right car goes to the right owner.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- End About -->

{% endblock %}
