{% extends 'core/base.html' %}
{%  block site_content %}

<!-- ======= Intro ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Contact US</h1>
          <span class="color-text-a">If you need any information or help with our services. Please use the information in this page to get in touch with us.</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">

        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">

            <li class="breadcrumb-item">
              <a href="{% url 'home page' %}">Home</a>
            </li>

            <li class="breadcrumb-item active" aria-current="page">
              Contact
            </li>

          </ol>
        </nav>

      </div>
    </div>
  </div>
</section>
<!-- End Intro -->

<!-- ======= Contact ======= -->
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-map box">
          <div id="map" class="contact-map">
            <iframe src="https://maps.google.com/maps?width=600&amp;height=450&amp;hl=en&amp;q=Sofia, ul. Laveleye 7&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="450" frameborder="0" style="border:0"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="col-sm-12 section-t8">
        <div class="row">
          <div class="col-md-5 section-md-t3">
            <div class="icon-box section-b2">
              <div class="icon-box-icon">
                <span class="bi bi-envelope"></span>
              </div>

              <div class="icon-box-content table-cell">
                <div class="icon-box-title">
                  <h4 class="icon-title">Contact us</h4>
                </div>
                <div class="icon-box-content">
                  <p class="mb-1">Email.
                    <span class="color-a">dimitartest354@gmail.com</span>
                  </p>
                  <p class="mb-1">Phone.
                    <span class="color-a">+359 88 53 65 456</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="icon-box section-b2">
              <div class="icon-box-icon">
                <span class="bi bi-geo-alt"></span>
              </div>
              <div class="icon-box-content table-cell">
                <div class="icon-box-title">
                  <h4 class="icon-title">Find us in</h4>
                </div>
                <div class="icon-box-content">
                  <p class="mb-1">
                    Sofia, ul. "Laveleye" 7,
                    <br> Bulgaria
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact-->

{% endblock %}
