{% extends 'core/base.html' %}
{%  block site_content %}

<div class="intro intro-carousel swiper position-relative">
  <div class="swiper-wrapper">
    <div class="swiper-slide intro-item bg-image" style="background-image: url(static/img/home_page_background_image.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">

                {% if request.user.is_authenticated %}
                <div class="intro-body">
                  <h1 class="intro-title mb-4 ">
                    <span class="color-b">Welcome! {{ request.user.first_name }}</span>
                    <br> Let's find a car for you!
                  </h1>
                </div>

                {% else %}
                <div class="intro-body">
                  <h1 class="intro-title mb-4 ">
                    <span class="color-b">The Right </span> Ride
                    <br> For you
                  </h1>
                </div>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
